<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Leadtools.Codecs.Cmw.dll.NETFramework" version="20.0.0.4" targetFramework="net461" />
  <package id="Leadtools.Codecs.Fax.dll.NETFramework" version="20.0.0.4" targetFramework="net461" />
  <package id="Leadtools.Codecs.Gif.dll.NETFramework" version="20.0.0.4" targetFramework="net461" />
  <package id="Leadtools.Codecs.J2k.dll.NETFramework" version="20.0.0.4" targetFramework="net461" />
  <package id="Leadtools.Codecs.Jb2.dll.NETFramework" version="20.0.0.4" targetFramework="net461" />
  <package id="Leadtools.Codecs.Jbg.dll.NETFramework" version="20.0.0.4" targetFramework="net461" />
  <package id="Leadtools.Codecs.Png.dll.NETFramework" version="20.0.0.4" targetFramework="net461" />
  <package id="Leadtools.Codecs.Raw.dll.NETFramework" version="20.0.0.4" targetFramework="net461" />
  <package id="Leadtools.Codecs.Tif.dll.NETFramework" version="20.0.0.4" targetFramework="net461" />
  <package id="Leadtools.Drawing.MP.dll.NETFramework" version="20.0.0.4" targetFramework="net461" />
  <package id="Leadtools.Formats.Raster.Common.NETFramework" version="20.0.0.4" targetFramework="net461" />
  <package id="Leadtools.Image.Processing.NETFramework" version="20.0.0.4" targetFramework="net461" />
  <package id="Leadtools.ImageProcessing.Color.dll.NETFramework" version="20.0.0.4" targetFramework="net461" />
  <package id="Leadtools.ImageProcessing.Core.dll.NETFramework" version="20.0.0.4" targetFramework="net461" />
  <package id="Leadtools.ImageProcessing.Kernel.dll.NETFramework" version="20.0.0.4" targetFramework="net461" />
  <package id="Leadtools.ImageProcessing.SpecialEffects.dll.NETFramework" version="20.0.0.4" targetFramework="net461" />
  <package id="Leadtools.Kernel.NETFramework" version="20.0.0.4" targetFramework="net461" />
  <package id="Leadtools.Svg.dll.NETFramework" version="20.0.0.4" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="3.0.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.2" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net461" />
</packages>